@page "/backpacks/list"
@using MauiMudBlazor.Entities
@using MauiMudBlazor.Contexts
@using MudBlazor
@using Microsoft.EntityFrameworkCore
@inject MauiMudBlazor.Contexts.BackpackAppContext _context
@inject NavigationManager NavManager



<h1>View Backpacks</h1>
<h4>Backpacks</h4>
<MudButton OnClick="ShowAddBackpackForm" Variant="Variant.Filled" Color="Color.Primary">Add Backpack</MudButton>
<br />
<br />


@if (isAddFormVisible)
{
    <div class="mb-4">
        <h5>Add New Backpack</h5>
        <EditForm Model="newBackpack" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="mb-3">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" class="form-control" @bind-Value="newBackpack.Name" />
            </div>

            <div class="mb-3">
                <label for="weight" class="form-label">Weight:</label>
                <InputNumber id="weight" class="form-control" @bind-Value="newBackpack.Weight" />
            </div>

            <div class="mb-3">
                <label for="CapacityLiters" class="form-label">Capacity(liters):</label>
                <InputNumber id="CapacityLiters" class="form-control" @bind-Value="newBackpack.CapacityLiters" />
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <InputText id="description" class="form-control" @bind-Value="newBackpack.Description" />
            </div>

            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" @onclick="HandleValidSubmit">Add Backpack</button>
                <button type="button" class="btn btn-secondary" @onclick="HideAddBackpackForm">Cancel</button>
            </div>
        </EditForm>
    </div>
}

@if (Backpacks.Any())
{
    <MudGrid>
        @foreach (var pack in Backpacks)
        {
            var detailsLink = $"/backpacks/details/{pack.BackpackId}";
            var editLink = $"/backpacks/edit/{pack.BackpackId}";
            var deleteLink = $"/backpacks/delete/{pack.BackpackId}";

            <MudItem xs="12" sm="6" md="4">
                <MudCard Class="mb-4" Style="width: 18rem;">
                    <!-- Clickable image -->
                    <MudLink Href="@detailsLink">
                        <MudCardMedia Image="" Alt="Backpack Image" Class="card-img-top" />
                    </MudLink>

                    <MudCardContent>
                        <MudText Typo="Typo.h5">@pack.Name</MudText>
                            <MudText Typo="Typo.body2">@pack.CapacityLiters</MudText>
                            <MudText Typo="Typo.body2">Weight: @pack.Weight</MudText>
                            <MudText Typo="Typo.body2">@pack.Description</MudText>
                        </MudCardContent>

                        <MudCardActions>
                            <MudButtonGroup>
                                <MudLink Href="@editLink">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                                </MudLink>
                                <MudLink Href="@deleteLink">
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                                </MudLink>
                            </MudButtonGroup>
                        </MudCardActions>
                    </MudCard>
                </MudItem>
        }
    </MudGrid>



}
else
{
    <p>No items found.</p>
}







@code 
{
	private List<Backpack> Backpacks = new();
	private Backpack newBackpack = new Backpack();
	private bool isAddFormVisible = false;


    protected override async Task OnInitializedAsync()
    {
        // ensure context is initialized for debuggings sake
        if (_context == null)
            throw new InvalidOperationException("Database context is not initialized.");

        Backpacks = await _context.Backpacks.ToListAsync();

    }

    private void ShowAddBackpackForm() => isAddFormVisible = true;
    private void HideAddBackpackForm() => isAddFormVisible = false;


    private async Task HandleValidSubmit()
    {
        if (_context != null)
        {
            
            newBackpack.CreatedAt = DateTime.Now;
            _context.Backpacks.Add(newBackpack);
            await _context.SaveChangesAsync();
            Backpacks.Add(newBackpack); // Add to the list to update the UI
            newBackpack = new Backpack(); // Reset form fields
            isAddFormVisible = false; // Hide form after submission
        }
    }

}
