@page "/items/list"
@using System.Diagnostics
@using MudBlazor
@using MauiMudBlazor.Entities
@using MauiMudBlazor.Contexts
@using Microsoft.EntityFrameworkCore
@inject MauiMudBlazor.Contexts.BackpackAppContext _context
@inject NavigationManager NavManager


<h1>View Items</h1>
<h4>Items</h4>
<MudButton OnClick="ShowAddItemForm" Variant="Variant.Filled" Color="Color.Primary">Add Item</MudButton>
<br />
<br />

@if (isAddFormVisible)
{
    <MudForm Model="@form">

        <MudText Typo="Typo.h6">Add New Item</MudText>

        <!-- Name -->
        <MudTextField T="string" @bind-Value="newItem.Name" Label="Item Name" For="@(() => newItem.Name)" Required="true" />

        <!-- Description -->
        <MudTextField T="string"  @bind-Value="newItem.Description" Label="Item Description" For="@(() => newItem.Description)" Required="true" />

        <!-- Weight -->
        <MudNumericField T="double"  @bind-Value="newItem.Weight" Label="Item Weight" For="@(() => newItem.Weight)" Adornment="Adornment.Start" AdornmentText="kg" />

        <!-- Quantity -->
        <MudNumericField T="int?"  @bind-Value="newItem.Quantity" Label="Item Quantity" For="@(() => newItem.Quantity)" />

        <!-- Subbag ID -->
        <MudNumericField T="int?"  @bind-Value="newItem.SubbagId" Label="Subbag ID" For="@(() => newItem.SubbagId)" />

        <!-- Backpack ID -->
        <MudNumericField T="int"  @bind-Value="newItem.BackpackId" Label="Backpack ID" For="@(() => newItem.BackpackId)" />

        <!-- Buttons -->
        <MudStack Direction="Row" JustifyContent="space-between">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="HandleValidSubmit">Save Changes</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Secondary" OnClick="HideAddItemForm">Cancel</MudButton>
        </MudStack>

    </MudForm>
}



@* display all the items *@
@if (Items.Any())
{
    <MudGrid>
        @foreach (var item in Items)
        {
            var detailsLink = $"/items/details/{item.ItemId}";
            var editLink = $"/items/edit/{item.ItemId}";
            var deleteLink = $"/items/delete/{item.ItemId}";

            <MudItem xs="12" sm="6" md="4">
                <MudCard Class="mb-4" Style="width: 18rem;">
                    <!-- Clickable image -->
                    <MudLink Href="@detailsLink">
                        <MudCardMedia Image="" Alt="Item Image" Class="card-img-top" />
                    </MudLink>

                    <MudCardContent>
                        <MudText Typo="Typo.h5">@item.Name</MudText>
                            <MudText Typo="Typo.body2">@item.Description</MudText>
                            <MudText Typo="Typo.body2">Weight: @item.Weight</MudText>
                            <MudText Typo="Typo.body2">@item.Quantity</MudText>
                        </MudCardContent>

                        <MudCardActions>
                            <MudButtonGroup>
                                <MudLink Href="@editLink">
                                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                                </MudLink>
                                <MudLink Href="@deleteLink">
                                    <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" />
                                </MudLink>
                            </MudButtonGroup>
                        </MudCardActions>

                    </MudCard>
                </MudItem>
        }
    </MudGrid>
}

else
{
    <p>No items found.</p>
}




@code 
{
    private Item newItem = new Item();
    private MudForm? form;
    private List<Item> Items = new();
    private bool hasErrors = false;
    private bool isAddFormVisible = false;



    protected override async Task OnInitializedAsync()
    {
        // ensure context is initialized
        if (_context == null)
            throw new InvalidOperationException("Database context is not initialized.");


        // get all items
        Items = await _context.Items.ToListAsync();    

    }


    // show and hide add item form 
    private void ShowAddItemForm() => isAddFormVisible = true;
    private void HideAddItemForm() => isAddFormVisible = false;


    /// <summary>
    /// triggered when user submits add item form
    /// </summary>
    /// <returns></returns>
    private async Task HandleValidSubmit()
    {
        if (_context != null)
        {
            try
            {
                newItem.BackpackId = 1;
                newItem.CreatedAt = DateTime.Now;
                newItem.InBag = false;
                _context.Items.Add(newItem);
                await _context.SaveChangesAsync();


                Items.Add(newItem);
                newItem = new Item(); // Reset the form
                isAddFormVisible = false;
            }
            catch (Exception ex)
            {
                Debug.WriteLine($"Error saving item: {ex.Message}");
            }
        }
    }



    private void HandleInvalidSubmit()
    {
        
    }

}
